absl-py==2.1.0
astunparse==1.6.3
certifi==2023.7.22
charset-normalizer==3.3.2
flatbuffers==25.2.10
gast==0.6.0
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
idna==3.4
iree-base-compiler==3.2.0
iree-tools-tflite @ file:///home/jueun/park/IREE/iree-rv32-springbok-legacy/build/iree_compiler/tmp/iree_tools_tflite-20230218.434-py3-none-linux_x86_64.whl#sha256=33d3f50840622cdecb504d025acf290a8df098fbd7efdd71d2619c156c7b65b6
keras-nightly==3.9.0.dev2025031203
libclang==18.1.1
lit==17.0.4
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml_dtypes==0.5.1
mpmath==1.3.0
namex==0.0.8
numpy==1.26.1
onnx==1.17.0
opt_einsum==3.4.0
optree==0.14.1
packaging==24.2
pexpect==4.9.0
Pillow==10.1.0
protobuf==5.29.3
ptyprocess==0.7.0
Pygments==2.19.1
requests==2.31.0
rich==13.9.4
setuptools==76.0.0
six==1.17.0
sympy==1.13.3
tb-nightly==2.19.0a20250218
tensorboard-data-server==0.7.2
termcolor==2.5.0
tf_nightly==2.20.0.dev20250311
typing_extensions==4.12.2
urllib3==2.0.7
Werkzeug==3.1.3
wget==3.2
wheel==0.45.1
wrapt==1.17.2
